{% extends 'main/base.html' %}

{% load static %}

{% block css_additional %}
<link rel="stylesheet" href=" {% static '../../static/main/css/faq.css' %}">
{% endblock %}

{% block title %}
Вопросы и ответы
{% endblock %}

{% block content %}
<h1>Информация о проекте:</h1>
<div class="mainText">
    <ul class="ulText">
        <li>Система разработанна студентом четвёртого курса группы ИУ5-83Б Назаров М.М.</li>
        <li style="width: 60%">Назначением проекта является создание сервиса, позволяющего пользователю при загрузке аудиофайла, содержащего посторонние шумы, и скачать обработанный аудиофайл с подавленными шумами.</li>
        <li>Данные, полученные от пользователя: аудиофайл формата .wav, подлежащий обработке.</li>
        <li>Выходные данные представляют собой обработанный аудиофайл формата .wav.</li>
    </ul>
</div>
{% endblock %}